[Unit]
Description=BTC Monitor - Sync to Supabase (Timer)
PartOf=supabase-sync.service

[Timer]
OnBootSec=3
OnUnitActiveSec=5
Unit=supabase-sync.service

[Install]
WantedBy=timers.target